name: Terraform docs and formatting
on:
  pull_request: {}
  push:
    branches:
      - main
jobs:
  formatting:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@9a9194f87191a7e9055e3e9b95b8cfb13023bb08
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: terraform fmt
        uses: dflook/terraform-fmt-check@86914e9afad7218471018af867cc8d157d485d4b
        with:
          path: .
      - name: terraform fmt
        uses: dflook/terraform-fmt-check@86914e9afad7218471018af867cc8d157d485d4b
        with:
          path: example
  docs:
    needs: formatting
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@9a9194f87191a7e9055e3e9b95b8cfb13023bb08
        with:
          ref: ${{ github.event.pull_request.head.ref }}
      - name: Render terraform docs inside the README.md and push changes back to PR branch
        uses: terraform-docs/gh-actions@72ed18e5751c95dc36107dff832598081ff56eb9
        with:
          working-dir: .
          output-file: README.md
          output-method: inject
          output-format: markdown table
          indention: 3
          git-push: "true"
      - name: Render terraform docs inside the README.md and push changes back to PR branch
        uses: terraform-docs/gh-actions@72ed18e5751c95dc36107dff832598081ff56eb9
        with:
          working-dir: example/
          output-file: README.md
          output-method: inject
          output-format: markdown table
          indention: 3
          git-push: "true"
