name: Terraform docs and formatting
on:
  pull_request: {}
  push:
    branches:
      - main
jobs:
  formatting:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: terraform fmt
        uses: dflook/terraform-fmt-check@59168426e242f665bf7b70644d706224e665056a
        with:
          path: .
      - name: terraform fmt
        uses: dflook/terraform-fmt-check@59168426e242f665bf7b70644d706224e665056a
        with:
          path: example
  docs:
    needs: formatting
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
        with:
          ref: ${{ github.event.pull_request.head.ref }}
      - name: Render terraform docs inside the README.md and push changes back to PR branch
        uses: terraform-docs/gh-actions@6de6da0cefcc6b4b7a5cbea4d79d97060733093c
        with:
          working-dir: .
          output-file: README.md
          output-method: inject
          output-format: markdown table
          indention: 3
          git-push: "true"
      - name: Render terraform docs inside the README.md and push changes back to PR branch
        uses: terraform-docs/gh-actions@6de6da0cefcc6b4b7a5cbea4d79d97060733093c
        with:
          working-dir: example/
          output-file: README.md
          output-method: inject
          output-format: markdown table
          indention: 3
          git-push: "true"
